@model Proiect_Final_TerescencoAlexandru.Models.Game

@using Microsoft.AspNetCore.Http;
@using Proiect_Final_TerescencoAlexandru.DB
@using Proiect_Final_TerescencoAlexandru.Models
@inject IHttpContextAccessor HttpContextAccessor
@{
    var gameId = HttpContextAccessor.HttpContext.Session.GetInt32("GameId");
}

@{
    ViewData["Title"] = $"{Model.Name} review";
}

<h1 class="display-4 fw-bold mb-3 text-center text-white">@Model.Name Review</h1>
<img src="~/Images/@Model.Name/Screenshots/Screen1.jpg" alt="" class="rounded-3" style="width:100%;" />

<div class="d-none w-75 h-75">
    <img class="w-75 h-75" src="#" alt="" />
</div>

<div>
    <p class="fs-4 my-5 text-white">@Model.Review</p>

    <div id="carouselExampleControls" class="d-flex flex-row justify-content-between position-relative carousel slide" data-bs-ride="carousel slide" style="height: 400px; margin-bottom: 50px">
        <div class="carousel-inner d-flex justify-content-between">
            @* <div class="carousel-item active">  *@
            @*     <img src="~/Images/Frostpunk 2/Screenshots/Screen@("2.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" />  *@
            @* </div> *@
            @* <div class="carousel-item"> *@
            @*         <img src="~/Images/Frostpunk 2/Screenshots/Screen@("3.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" /> *@
            @* </div> *@
            @* <div class="carousel-item"> *@
            @*         <img src="~/Images/Frostpunk 2/Screenshots/Screen@("4.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" /> *@
            @* </div> *@
            @* <div class="carousel-item"> *@
            @*         <img src="~/Images/Frostpunk 2/Screenshots/Screen@("5.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" /> *@
            @* </div> *@
            @* <div class="carousel-item"> *@
            @*         <img src="~/Images/Frostpunk 2/Screenshots/Screen@("6.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" /> *@
            @* </div> *@
            @*     <div class="carousel-item"> *@
            @*         <img src="~/Images/Frostpunk 2/Screenshots/Screen@("7.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" /> *@
            @*     </div> *@
            @*     <div class="carousel-item"> *@
            @*         <img src="~/Images/Frostpunk 2/Screenshots/Screen@("8.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" /> *@
            @*     </div> *@
            @*     <div class="carousel-item"> *@
            @*         <img src="~/Images/Frostpunk 2/Screenshots/Screen@("9.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" /> *@
            @*     </div> *@
            @*     <div class="carousel-item"> *@
            @*         <img src="~/Images/Frostpunk 2/Screenshots/Screen@("10.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" /> *@
            @*     </div> *@
            @* @foreach(var screen in @Model.Screenshots) { *@
            @*     <div class="carousel-item active"> *@
            @*         <img src="~@screen.image_2" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" /> *@
            @*     </div> *@
            @* } *@
            @{
                var screens = Model.Screenshot.GetType().GetProperties();
                //var screenSrc = string.Format("data:{0};base64, {1}", screens, Convert.ToBase64String);

                for(int i = 2; i < screens.Length-2; i++) 
                {
                    if (i == 2)
                    {
                        <div class="carousel-item active">
                            @*<img src="~/Images/Frostpunk 2/Screenshots/Screen@("2.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" />*@
                            <img src="~/Images/Frostpunk 2/Screenshots/Screen@("2.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" />
                        </div>
                    }
                    else
                    {
                        //if (!screens[i].Equals(System.DBNull.Value))
                        //{
                            <div class="carousel-item">
                                <img src="~/Images/Frostpunk 2/Screenshots/Screen@($"{i}.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" />
                             </div>
                        //}
                        //else i = 2;
                    }
                }
            }
        </div>
        <a class="carousel-control-prev" data-bs-target="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" data-bs-target="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>
