@model Proiect_Final_TerescencoAlexandru.Models.Game

@using Microsoft.AspNetCore.Http;
@using Proiect_Final_TerescencoAlexandru.DB
@using Proiect_Final_TerescencoAlexandru.Models
@inject IHttpContextAccessor HttpContextAccessor
@{
    var gameId = HttpContextAccessor.HttpContext.Session.GetInt32("GameId");
}

@{
    ViewData["Title"] = $"{Model.Name} review";
}

<h1 class="display-4 fw-bold mb-3 text-center text-white">@Model.Name Review</h1>
<img src="~/Images/@Model.Name/Screenshots/Screen1.jpg" alt="" class="rounded-3" style="width:100%;" />

<div class="d-none w-75 h-75">
    <img class="w-75 h-75" src="#" alt="" />
</div>

<div>
    <p class="fs-4 my-5 text-white">@Model.Review</p>

    <div id="carouselExampleControls" class="d-flex flex-row justify-content-between position-relative carousel slide" data-bs-ride="carousel slide" style="height: 400px; margin-bottom: 50px">
        <div class="carousel-inner d-flex justify-content-between">
            @{
                for(int i = 2; i < 10; i++) 
                {
                    if (i == 2)
                    {
                        <div class="carousel-item active">
                            <img src="~/Images/@Model.Name/Screenshots/Screen@("2.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" />
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <img src="~/Images/@Model.Name/Screenshots/Screen@($"{i}.jpg")" class="d-block rounded-3 w-100 h-100" style="margin-right: 10px" />
                        </div>
                    }
                }
            }
        </div>
        <a class="carousel-control-prev" data-bs-target="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" data-bs-target="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
    <div style="height: 180px; margin-top: 50px; justify-items:center; align-items:center; background-color: #222831">
        <div>
            <p style="font-size: 50px; color:white">Score: @Model.Score</p>
        </div>
        <p style="font-size: 25px; color:white">Reviewer: @Model.Reviewer</p>
    </div>
</div>
